  <footer>All rights &copy;2021 University Of Zambia reserved</footer>

 <script>
    var alertList = document.querySelectorAll('.alert')
    alertList.addEventListener('click', (e) => {
      alert.close();
    })
   
 </script>


<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>