<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
<div class="container">
    <h1>Welcome to the University of Zambia course clearance platform</h1>
    <p>Please choose what you want to do</p>
    <nav>
        <ul>
            <li><a href="/user/admin/register">Register an admin accout</a></li>
            <li><a href="/user/admin/login">Sign in as an admin</a></li>
            <li><a href="/user/student/register">Register a student accout</a></li>
            <li><a href="/user/student/login">Sign in as a student</a></li>
            
        </ul>
    </nav>
</div>




    <%- include('./partials/footer.ejs') %> 
</html>