<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <div class="container">
      <h1>Welcome <%=  %> </h1>
        <a type="button" class="btn" href="/user/student/logout">Logout</a>
    
    <%- include('./partials/footer.ejs') %> 
</html>